/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features{
  text-align: center;
}
#features img{
  margin: 0 0 20px;
}
#inputNumber{
  margin-bottom: 15px;
}
/* --------------------------------------
   Typography
   -------------------------------------- */
body{
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
}
.well .page-header{
  margin-top: 0;
}
.well .page-header h1{
  margin-top: 0;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchinput{
     width: 200px;
   }
   .navbar{
     background-color: transparent;
   }
   .navbar-nav{
     margin-top: 10px;
   }
   #navi{
     background: #E8F8F5;
   }
/* --------------------------------------
   Carousel
   -------------------------------------- */
 #myCarousel .item{
   height: 400px;
 }
#slide1{
  background: url('../../images/fmd.jpg') top center no-repeat;
  opacity: 0.7;
}
#slide2{
  background: url('../../images/bg1med.jpg') top center no-repeat;
}
#slide3{
  background: url('../../images/fudmd.jpg') top center no-repeat;
  opacity: 0.7;
}
#slide4{
  background: url('../../images/desmd.jpg') top center no-repeat;
  opacity: 0.8;
}
.carousel-caption h3{
  font-family: 'El Messiri', sans-serif;
  font-size: 30px;
}
.carousel-caption h4{
  font-family: 'El Messiri', sans-serif;
  font-size: 22.5px;
}
#slide2 h3{
  font-size: 25px;
}
#cake{
  color:#009688;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert{
  margin-top: 20px;
  display: none;
}
.well{
  margin: 20px 0;
}
.panel{
  border: none;
  background-color: transparent;
}
.panel-heading{
  background-color: transparent;
  border: none;
}
.btn{
  width: 150px;
}
.tabbable img.thumbnail {
  margin: 0 20px 10px 0;
}
.btn btn-primary{
  margin-top: 15px;
}
.footer-area{
  background: url("../../images/foot.jpg");
  margin-bottom: 14px;
}
.sosa-icon{
  margin-top: 15px;
}
.footer-area h2 {
  margin-top: 10px;
  font-family: 'El Messiri', sans-serif;
  color: white;
}
.address {
  font-family: 'El Messiri', sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: white;
}
.phone-no{
  font-family: 'Courgette', sans-serif;
}
.footer-area span{
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: white;
}
.footer-area h4{
  font-family: 'El Messiri', sans-serif;
  font-size: 18px;
  color: white;
}
.social-links{
  display: table;
  margin-right: 20px;
}
.social-links li{
  position: relative;
  left: 82px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  }
  .social-links li a{
    display: table-cell;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    font-size: 16px;
    -webkit-border-radius: 20%;
  }
  .well{
  background-color: #FBE9E7;
}

  body{
    background: rgba(0, 0, 0, 0) url("../../images/menu.jpg") no-repeat scroll 0 0 / 100% 100%;
    font-family: 'Neuton', serif;
  }
  .nav li a{
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
    color:black;
  }
  .page-header h1{
    font-family: 'El Messiri', sans-serif;
  }
  .lead{
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
  }
  #featuresHeading h2{
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
  }
  .panel h3{
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
  }
  .panel p{
    font-size: 18px;
  }
  .panel a{
    font-size: 20px;
  }
  .tab-pane{
    font-size: 18px;
  }
  .tab-pane a{
    font-size: 20px;
  }
  #tab2 h4{
    font-family: 'El Messiri', sans-serif;
font-size: 22px;
  }
  #tab3 h4{
    font-family: 'El Messiri', sans-serif;
    font-size: 22px;
  }
  #tab3 h5{
    font-family: 'El Messiri', sans-serif;
    font-size: 20px;
  }
  .list-group h4{
    font-family: 'El Messiri', sans-serif;
    font-size: 22px;
  }
  .list-group p{
    font-size: 16px;
  }
  .col-sm-6 h3{
    font-family: 'El Messiri', sans-serif;
  }
  #menus{
    margin-top: 100px;
  }
  .list-group h4{
    text-align: center;
  }
  .list-group-item{
    text-align: center;
  }
  .section-title h1{
  font-family: 'Great vibes',cursive;
  }
  .section-title h2{
  font-family: 'kavoon',cursive;
  }
  .btn-danger{
    width: 200px;
  }
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #myCarousel .item{
    height: 310px;
  }
  #slide1{
   background: url('../../images/fsm.jpg') top center no-repeat;
  }
  #slide2{
   background: url('../../images/bg1small.jpg') top center no-repeat;
  }
  #slide3{
   background: url('../../images/fudsm.jpg') top center no-repeat;
  }
  #slide4{
   background: url('../../images/dessm.jpg') top center no-repeat;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item{
    height: 500px;
  }
  #slide1{
   background: url('../../images/flg.jpg') top center no-repeat;
  }
  #slide2{
   background: url('../../images/bg1.jpg') top center no-repeat;
  }
  #slide3{
   background: url('../../images/fudlg.jpg') top center no-repeat;
   visibility: inherit;
  }
  #slide4{
   background: url('../../images/deslg.jpg') top center no-repeat;
  }
}
